@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
}

ul {
  list-style-type: none;
}

.navigation-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: inherit;
}

.navigation-link-search {
  background-image: url(../images/common/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.navigation-link-likes {
  background-image: url(../images/common/heart.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.button-brown-small {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-brown-big {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-blue-small {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-blue-big {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-basic-small {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background-color: #82b2d300;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.hero {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/main/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages-list {
  text-align: center;
  list-style-type: none;
}

.blue {
  background-color: #82b3d3;
  color: #ffffff;
}

.light-blue {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.trans-blue {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.icon-hotels {
  background-image: url(../images/main/advantages/Advantage-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-food {
  background-image: url(../images/main/advantages/Advantage-icon-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-souvenirs {
  background-image: url(../images/main/advantages/Advantage-icon-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.interested {
  background-color: #ffffff;
  text-align: center;
}

.interested-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interested-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe {
  font-family: inherit;
  color: #ffffff;
  background-image: url("../images/main/Subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-email {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
}

.footer-social-address-phone {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.filter-content {
  font-family: inherit;
  color: #ffffff;
  background-image: url("../images/catalogue/hotels/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.filter-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-main {
  background-image: url(../images/catalogue/hotels/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.catalog-filter-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-option {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.price {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.price-from-to {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}

.catalog-products {
  background-color: #ffffff;
}

.catalog-result {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.view-cards {
  background-image: url(../images/catalogue/view_mode/View-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.view-slideshow {
  background-image: url(../images/catalogue/view_mode/View-icon-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.view-list {
  background-image: url(../images/catalogue/view_mode/View-icon-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.product-card {
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 1px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.rating {
  background-color: #f2f2f2;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.pagination-link {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
}

.pagination-current {
  text-align: center;
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-dots {
  color: #000000;
  background-color: #00000000;
}

.subscribe-inner {
  font-family: inherit;
  background-color: #ffffff;
  text-align: center;
}

.subscribe-title-inner {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-description-inner {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe-email {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}
